<template lang="pug">
  .container
    .content.has-text-centered
        h1 Cargando ...
</template>

<style lang="scss" scoped>
    .content {
        padding: 20px;
        min-height: 20vh;
    }
</style>
