<template lang="pug">
  .header
    nav.navbar.is-dark
        .navbar-brand
            a.navbar-item 
                strong Menu Reverde
            .navbar-burger.burger(
                data-target='navbarExampleTransparentExample',
                @click="showNav = !showNav",
                :class="{ 'is-active': showNav }")
                span
                span
                span      
                
        #navbarExampleTransparentExample.navbar-menu(
            :class="{ 'is-active': showNav }")
            .navbar-start
                a.navbar-item(@click="goHome") Inicio   
                a.navbar-item(@click="goMisrecetas") Mis recetas
                a.navbar-item Nosotros
                a.navbar-item Contacto

        .navbar-end
            .navbar-item
                .field.is-grouped
                    p.control(v-if="!userLoged")
                        button.button.is-primary(@click="conectar")
                            b-icon(
                                icon="account",
                                size="is-small" 
                            )
                            span Login
                    p.control(v-else)
                        section
                            b-dropdown
                                button.button.is-primary(slot="trigger")
                                    b-icon(
                                        icon="account",
                                        size="is-small"
                                    )
                                    span {{ user.displayName }}
                                    b-icon(
                                        icon="menu-down"
                                    )
                                b-dropdown-item(custom, paddingless)
                                    .modal-card(style="width:400px")
                                        section.modal-card-body
                                            img(:src="user.photoURL")
                                        footer.modal-card-foot(style="align:center")
                                            button.button.is-danger(@click="desconectar")
                                                span Logout              
</template>

<script>
import firebase from 'firebase'
import { provider } from '@/main'

export default {
  data () {
    return {
      showNav: false,
      userLoged: false,
      user: {}
    }
  },

  mounted () {
    let firebaseAppDefined = false

    setInterval(() => {
      if (!firebaseAppDefined) {
        if (firebase.app()) {
          firebase.auth().onAuthStateChanged((user) => {
            if (user) {
              this.userLoged = true
              this.user = user
              console.info('usuario conectado', this.user.displayName)
            } else {
              this.userLoged = false
              this.user = {}
              console.warn('usuario no conectado')
            }
          })
          firebaseAppDefined = true
        }
      }
    }, 100)
    console.info(firebaseAppDefined)
  },

  methods: {
    goHome () {
      this.$router.push({ name: 'search' })
    },
    goMisrecetas () {
      this.$router.push({ name: 'misrecetas' })
    },
    conectar: function () {
      firebase.auth().signInWithPopup(provider).catch(function (error) {
        // Handle Errors here.
        console.error('error haciendo login: ', error)
      })
    },
    desconectar: function () {
      firebase.auth().signOut().catch(function (error) {
        // An error happened.
        console.error('error haciendo logout: ', error)
      })
    }
  }
}
</script>
