<template lang="pug">
  main
    transition(name="move")
      pm-notification(v-show="showNotification")
        p(slot="body") No se encontraron resultados

    transition(name="move")
      pm-loader(v-show="isLoading")

    section.section(v-show="!isLoading")
      .container(v-if="this.recipes.length > 0")
        section
          .columns
            .column
              b-switch(
                type="is-success",
                v-model="veganSelected" 
              ) Veganas
            .column
              b-switch(
                type="is-success",
                v-model="glutenfreeSelected"  
              ) Sin Gluten 
            .column
              b-switch(
                type="is-success",
                v-model="dairyfreeSelected"  
              ) Sin Lactosa
            .column
              b-switch(
                type="is-success",
                v-model="soyfreeSelected"
              ) Sin Soja
        .columns.is-multiline
          .column.is-one-quarter(v-for="r in filterRecipes")
            // Cada una de las instancias de r van a crear
            // una instancia nueva del componente recipe
            pm-recipefavs(
              :class="{ 'is-active': r.uri === selectedRecipe }",
              :recipe="r", 
              @select="setSelectedRecipe")
              // Con @select hemos capturado el evento select emitido por un componente hijo
</template>

<script>
import recipeService from '@/services/recipe'

import PmRecipefavs from '@/components/Recipefavs.vue'

import PmNotification from '@/components/shared/Notification.vue'
import PmLoader from '@/components/shared/Loader.vue'
import firebase from 'firebase'
import { database } from '@/main'

export default {
  name: 'app',

  components: { PmRecipefavs, PmLoader, PmNotification },

  data () {
    return {
      searchQuery: '',
      recipes: [],
      favSelected: false,
      glutenfreeSelected: false,
      dairyfreeSelected: false,
      veganSelected: false,
      soyfreeSelected: false,
      bestSelected: false,
      isLoading: false,
      favs: [],
      showNotification: false,
      selectedRecipe: '',
      firebaseAppDefined: false,
      userLoged: false,
      user: {}
    }
  },

  created () {
    database.ref('/favs')
      .on('value', snapshot => this.readDBfavs(snapshot.val()))

    setInterval(() => {
      if (!this.firebaseAppDefined) {
        if (firebase.app()) {
          firebase.auth().onAuthStateChanged((user) => {
            if (user) {
              this.userLoged = true
              this.user = user
              console.info('usuario conectado', this.user.displayName)
              this.search()
            } else {
              this.userLoged = false
              this.user = {}
              console.warn('usuario no conectado')
            }
          })
          this.firebaseAppDefined = true
        }
      }
    }, 100)
    console.info(this.firebaseAppDefined)
  },

  computed: {

    // Propiedad computada que detecta dinámicamente si se han seleccionado los distintos botones y aplica los filtros
    filterRecipes () {
      let glutenfreeSelected = this.glutenfreeSelected
      let veganSelected = this.veganSelected
      let dairyfreeSelected = this.dairyfreeSelected
      let soyfreeSelected = this.soyfreeSelected
      // let favSelected = this.favSelected
      console.log('testigo 4 tamaño' + this.recipes.length)
      return this.recipes.filter(function (recipe) {
        let filters = []
        if (glutenfreeSelected) {
          filters.push(recipe.healthLabels.includes('Gluten-Free'))
        }
        if (dairyfreeSelected) {
          filters.push(recipe.healthLabels.includes('Dairy-Free'))
        }
        if (veganSelected) {
          filters.push(recipe.healthLabels.includes('Vegan'))
        }
        if (soyfreeSelected) {
          filters.push(recipe.healthLabels.includes('Soy-Free'))
        }
        var result = recipe
        if (filters.length > 0) {
          for (var i = 0; i < filters.length; i++) {
            if (i === 0) {
              result = filters[i]
            } else result = result && filters[i]
          }
        }
        return result
      })
    }
  },

  watch: {
    // Ocultamos el aviso de búsqueda fallida a los 3s
    showNotification () {
      if (this.showNotification) {
        setTimeout(() => {
          this.showNotification = false
        }, 3000)
      }
    }
  },

  methods: {
    search () {
      this.isLoading = true
      if (this.userLoged) {
        if (this.favs.length > 0) {
          for (let key in this.favs) {
            if (this.user.uid === this.favs[key].userUid) {
              recipeService.getByUri(this.favs[key].recipeUri)
                .then(res => {
                  this.recipes.push(res[0])
                  console.log('filter recipes tamaño ' + this.recipes.length)
                })
            }
          }

          this.isLoading = false
        }
      }
    },

    readDBfavs (dbFavs) {
      this.favs = []
      for (let key in dbFavs) {
        this.favs.push({
          recipeUri: dbFavs[key].recipeUri,
          userUid: dbFavs[key].userUid,
          key: key
        })
      }
    },

    setSelectedRecipe (uri) {
      this.selectedRecipe = uri
    }
  }
}
</script>

<style lang="scss">
   .results {
    margin-top: 50px;
  }

  .is-active {
    border: 3px #23d160 solid;
  }
</style>
