<template lang="pug">
  main 
    section.section.hero.is-dark
      .level
        .level-left
          .level-item
            a.button.is-white.is-outlined
              span.icon.is-small
                i.fa.fa-compress
          .level-item
            a.button.is-white.is-outlined
              span.is-small Hoy
        .level-item.is-centered 
          h1.title Planificador Semanal
    section.section
      .container
        h1.subtitle.has-text-centered Carrusel
        carousel(
          perPage="7",
          paginationActiveColor="#42b983",
          paginationColor="#b2ebd1",
          paginationSize=0,
          easing="linear", 
          speed="300") 
                slide Lunes
                slide 2
                slide 3
                slide 4
                slide 5
                slide 6
                slide 7
                slide 8
                slide 9
                slide 10
                slide 11
                slide 12
        p calendario
</template>

<script>
import { Carousel, Slide } from 'vue-carousel'

export default {
  components: {
    Carousel,
    Slide
  }
}
</script>

