<template lang="pug">
  .section.section
    .container
      .columns
        .column.is-8.is-offset-2
          .tile.is-ancestor.box
            .tile.is-vertical
              .tile
                .tile.is-parent
                  article.tile.is-child
                    .image.is-is-2by1
                        img(:src="recipe.image")
                .tile.is-parent        
                  article.tile.is-child
                    p.title.has-text-centered {{ recipe.label }}
                    p.subtitle.has-text-centered Ver receta en
                      a(:href="recipe.url") &nbsp; {{ recipe.source }}
                    section(v-if='favSelected').section.has-text-centered
                      button.button.is-danger(@click="addFav()") Eliminar como favorita
                    section(v-else='favSelected').section.has-text-centered
                      button.button.is-success(@click="addFav()") Añadir como favorita
                       

              .tile
                .tile.is-parent
                  article.tile.is-child.box
                    p.subtitle.has-text-centered Ingredientes
                    hr
                    ul(v-for="i in recipe.ingredientLines")
                      li {{ i }}
                .tile.is-parent
                  article.tile.is-child.box
                    p.subtitle.has-text-centered Información Nutricional
                    hr
                    table.table.is-fullwidth
                      thead
                        tr
                          th Elemento
                          th Porcentaje*
                      tbody
                        tr(v-for="t in recipe.totalDaily")
                          td {{ t.label }}
                          td {{ Math.round(t.quantity) }} %
                    small * Porcentaje sobre cantidad diaria recomendada
                        


             
</template>

<script>
import recipeService from '@/services/recipe'
import firebase from 'firebase'
import { database } from '@/main'

export default {
  // components: { PmRecipe },
  data () {
    return {
      recipe: {},
      user: {},
      userLoged: false,
      // favSelected: false,
      favs: [],
      firebaseAppDefined: false
    }
  },

  created () {
    const r = this.$route.params.r
    // console.log(r)
    recipeService.getByUri(r)
      .then(res => {
        // console.log(res[0])
        this.recipe = res[0]
      })
    database.ref('/favs')
      .on('value', snapshot => this.readDBfavs(snapshot.val()))
  },

  mounted () {
    if (!this.firebaseAppDefined) {
      if (firebase.app()) {
        firebase.auth().onAuthStateChanged((user) => {
          if (user) {
            this.userLoged = true
            this.user = user
            console.info('usuario conectado', this.user.displayName)
          } else {
            this.userLoged = false
            this.user = {}
            console.warn('usuario no conectado')
          }
        })
        this.firebaseAppDefined = true
      }
    }
  },

  computed: {
    // Propiedad computada que detecta dinamicamente si hay una receta seleccionada
    favSelected () {
      var result
      let actualFav = { recipeUri: this.recipe.uri, userUid: this.user.uid }
      // Compruebo que si el array de recetas favoritas está vacio
      if (this.favs.length > 0) {
        // Se comprueba si la receta ya está añadida como favorita
        let filterRecipe = this.favs.filter(e => ((e.recipeUri === actualFav.recipeUri) && (e.userUid === actualFav.userUid)))
        // Si la receta no está añadida como favorita, la guardamos en la base de datos
        if (filterRecipe.length > 0) {
          result = true
        } else {
          console.log('no ha entrado en el if')
          result = false
        }
        return result
      }
    }
  },

  methods: {
    readDBfavs (dbFavs) {
      this.favs = []
      for (let key in dbFavs) {
        this.favs.push({
          recipeUri: dbFavs[key].recipeUri,
          userUid: dbFavs[key].userUid,
          key: key
        })
      }
      console.log(this.favs.length)
    },

    addFav () {
      if (this.userLoged) {
        let actualFav = { recipeUri: this.recipe.uri, userUid: this.user.uid }
        // Compruebo que si el array de recetas favoritas está vacio
        if (this.favs.length > 0) {
          // Se comprueba si la receta ya está añadida como favorita
          let filterRecipe = this.favs.filter(e => ((e.recipeUri === actualFav.recipeUri) && (e.userUid === actualFav.userUid)))
          // Si la receta no está añadida como favorita, la guardamos en la base de datos
          if (!filterRecipe.length > 0) {
            database.ref('favs').push(actualFav)
            this.favSelected = true
          } else {
            // Si la receta está añadida ya como favorita entonces la borramos
            database.ref('/favs/' + filterRecipe[0].key).remove()
            database.ref('/favs')
              .on('value', snapshot => this.readDBfavs(snapshot.val()))
            this.favSelected = false
            console.log('receta ya añadida' + filterRecipe[0].key)
          }
        } else {
          database.ref('favs').push(actualFav)
          this.favSelected = true
          console.log('array estaba vacío')
        }
      } else console.log('usuario no logado')
    }
  }
}
</script>

<style lang="scss" scoped>
  .column {
    margin: 20px;
  }
</style>