<template lang="pug">
        .card(v-if="recipe", @click="selectRecipe")
            .card-image
                figure.image.is-1by1
                    a(@click="goToRecipe(recipe.recipe.uri)")
                        img(:src="recipe.recipe.image")
            .card-content
                .media
                    .media-content
                        a(@click="goToRecipe(recipe.recipe.uri)")
                            p.title.is-6
                                strong {{ recipe.recipe.label }}
                            p.subtitle.is-6 {{ recipe.recipe.source }}
</template>

<script>
    export default {
      props: {
        recipe: { type: Object, required: true }
      },

      methods: {
        selectRecipe () {
          this.$emit('select', this.recipe.recipe.uri)
        },
        goToRecipe (r) {
          // r = encodeURIComponent(r)
          this.$router.push({ name: 'recipe', params: { r } })
        }
      }

    }
</script>

<style lang="scss" scoped>

</style>

