<template lang="pug">
        .card(v-if="recipe", @click="selectRecipe")
            .card-image
                figure.image.is-1by1
                    a(@click="goToRecipe(recipe.recipe.uri)")
                        img(:src="recipe.recipe.image")
            .card-content
                .media
                    .media-content
                        a(@click="goToRecipe(recipe.recipe.uri)")
                            p.title.is-6
                                strong {{ recipe.recipe.label }}
                            p.subtitle.is-6 {{ recipe.recipe.source }}
                .content
                    .field.is-grouped.is-grouped-multiline
                        .control
                            .tags.has-addons
                                span.tag.is-dark PROT
                                span.tag.is-info {{ Math.round(recipe.recipe.totalDaily.PROCNT.quantity) }}%
                        .control
                            .tags.has-addons
                                span.tag.is-dark FE 
                                span.tag.is-warning {{ Math.round(recipe.recipe.totalDaily.FE.quantity) }}%
                        .control
                            .tags.has-addons
                                span.tag.is-dark CA 
                                span.tag.is-success {{ Math.round(recipe.recipe.totalDaily.CA.quantity) }}%
                        //.control
                        //  .tags.has-addons
                            //    span.tag.is-dark B12 
                            //  span.tag.is-primary {{ Math.round(recipe.recipe.totalDaily.VITB12.quantity) }}%
</template>

<script>
    export default {
      props: {
        recipe: { type: Object, required: true }
      },

      methods: {
        selectRecipe () {
          // select es el nombre del evento que tendremos que capturar desde el componente padre
          this.$emit('select', this.recipe.recipe.uri)
          console.log(this.recipe.recipe.healthLabels)
        },
        goToRecipe (r) {
          // r = encodeURIComponent(r)
          this.$router.push({ name: 'recipe', params: { r } })
        }
      }

    }
</script>

<style lang="scss" scoped>

</style>

