<template lang="pug">
  main
    transition(name="move")
      pm-notification(v-show="showNotification")
        p(slot="body") No se encontraron resultados

    transition(name="move")
      pm-loader(v-show="isLoading")
    
    section.section(v-show="!isLoading")
      .container
        .column.is-three-fifths.is-offset-one-fifth
          .field.has-addons
            .control.is-expanded
              input.input.is-large(
                type="text",
                placeholder="Buscar recetas",
                v-model="searchQuery",
                @keyup.enter="search" 
              )
              // v-on es la directiva de vue para escuchar eventos. Se puede sustituir por '@'
            .control
              a.button.is-primary.is-large(@click="search") Buscar 
              // a.button.is-danger.is-large &times;
          p
            small {{ searchMessage }}
      .container(v-if="this.recipes.length > 0")
        section
          .columns
            .column
              b-switch(
                type="is-success",
                v-model="veganSelected" 
              ) Veganas
            .column
              b-switch(
                type="is-success",
                v-model="glutenfreeSelected"  
              ) Sin Gluten 
            .column
              b-switch(
                type="is-success",
                v-model="dairyfreeSelected"  
              ) Sin Lactosa
            .column
              b-switch(
                type="is-success",
                v-model="soyfreeSelected"
              ) Sin Soja
      .container.results
        .columns.is-multiline
          .column.is-one-quarter(v-for="r in filterRecipes")
            // Cada una de las instancias de r van a crear
            // una instancia nueva del componente recipe
            pm-recipe(
              :class="{ 'is-active': r.recipe.uri === selectedRecipe }",
              :recipe="r", 
              @select="setSelectedRecipe")
              // Con @select hemos capturado el evento select emitido por un componente hijo
</template>

<script>
import recipeService from '@/services/recipe'

import PmRecipe from '@/components/Recipe.vue'

import PmNotification from '@/components/shared/Notification.vue'
import PmLoader from '@/components/shared/Loader.vue'
import firebase from 'firebase'
import { database } from '@/main'

export default {
  name: 'app',

  components: { PmRecipe, PmLoader, PmNotification },

  data () {
    return {
      searchQuery: '',
      recipes: [],
      glutenfreeSelected: false,
      dairyfreeSelected: false,
      veganSelected: false,
      soyfreeSelected: false,
      bestSelected: false,
      isLoading: false,
      favs: [],
      showNotification: false,
      selectedRecipe: '',
      firebaseAppDefined: false,
      userLoged: false,
      user: {}
    }
  },

  created () {
    database.ref('/favs')
      .on('value', snapshot => this.readDBfavs(snapshot.val()))
  },

  mounted () {
    setInterval(() => {
      if (!this.firebaseAppDefined) {
        if (firebase.app()) {
          firebase.auth().onAuthStateChanged((user) => {
            if (user) {
              this.userLoged = true
              this.user = user
              console.info('usuario conectado', this.user.displayName)
            } else {
              this.userLoged = false
              this.user = {}
              console.warn('usuario no conectado')
            }
          })
          this.firebaseAppDefined = true
        }
      }
    }, 100)
    console.info(this.firebaseAppDefined)
  },

  computed: {
    searchMessage () {
      return `Encontrados: ${this.recipes.length}`
    },

    // Propiedad computada que detecta dinámicamente si se han seleccionado los distintos botones y aplica los filtros
    filterRecipes () {
      let glutenfreeSelected = this.glutenfreeSelected
      let veganSelected = this.veganSelected
      let dairyfreeSelected = this.dairyfreeSelected
      let soyfreeSelected = this.soyfreeSelected
      return this.recipes.filter(function (recipe) {
        let filters = []
        if (glutenfreeSelected) {
          filters.push(recipe.recipe.healthLabels.includes('Gluten-Free'))
        }
        if (dairyfreeSelected) {
          filters.push(recipe.recipe.healthLabels.includes('Dairy-Free'))
        }
        if (veganSelected) {
          filters.push(recipe.recipe.healthLabels.includes('Vegan'))
        }
        if (soyfreeSelected) {
          filters.push(recipe.recipe.healthLabels.includes('Soy-Free'))
        }
        var result = recipe
        if (filters.length > 0) {
          for (var i = 0; i < filters.length; i++) {
            if (i === 0) {
              result = filters[i]
            } else result = result && filters[i]
          }
        }
        return result
      })
    }
  },

  watch: {
    // Ocultamos el aviso de búsqueda fallida a los 3s
    showNotification () {
      if (this.showNotification) {
        setTimeout(() => {
          this.showNotification = false
        }, 3000)
      }
    }
  },

  methods: {
    search () {
      if (!this.searchQuery) { return } // Si no hay resultados no devuelve error

      this.isLoading = true

      recipeService.search(this.searchQuery)
        .then(res => {
          // mediante count obtengo el número de registros encontrados en la búsqueda.
          this.showNotification = res.count === 0 // el resultado sera true si no se encuentran resultados
          // mediante hits obtengo el array con todas las recetas encontradas que guardo en recipes[]
          this.recipes = res.hits
          this.isLoading = false
        })
    },

    readDBfavs (dbFavs) {
      this.favs = []
      for (let key in dbFavs) {
        this.favs.push({
          recipeUri: dbFavs[key].recipeUri,
          userUid: dbFavs[key].userUid,
          key: key
        })
      }
    },

    setSelectedRecipe (uri) {
      this.selectedRecipe = uri
    }
  }
}
</script>

<style lang="scss">
   .results {
    margin-top: 50px;
  }

  .is-active {
    border: 3px #23d160 solid;
  }
</style>
