<template lang="pug">
  #app
    pm-header

    router-view

    pm-footer
</template>

<script>
// Importación de componentes locales
import PmFooter from '@/components/layout/Footer.vue'
import PmHeader from '@/components/layout/Header.vue'

export default {
  name: 'app',
  components: { PmFooter, PmHeader }
}
</script>

<style lang="scss">
  @import './scss/main.scss';
  @import url('https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css');

  .results {
    margin-top: 50px;
  }

  .is-active {
    border: 3px #23d160 solid;
  }
</style>
